@model TranslationTool.Models.Translation

@{
    ViewBag.Title = "Final";
}
<link href="~/Content/styles.css" rel="stylesheet" />
<div>
    
        <p class="final">
            Your final translation is: "@Html.DisplayFor(model => model.EnglishTranslation)"
        </p>

</div>

